.sfooter
    background-color: #32a2b8
    height: 20vw
    div
        width: 33%
        i
            font-size: 3.5vw
        button
            height: 30px
        p
            font-size: 0.8vw